[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pandas = "*"
dvc = "*"
notebook = "*"
numpy = "*"
python-box = "==6.0.2"
pyyaml = "*"
tqdm = "*"
ensure = "==1.0.2"
joblib = "*"
types-pyyaml = "*"
scipy = "*"
pydantic = "*"
fastapi = "*"
uvicorn = "*"
cnnclassifier = {file = ".", editable = true}
python-multipart = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
